.TopPage {
  background-image: url(../image/binary.jpg);
  background-size: cover;
  background-position: 20%;
}

.Header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin: 0;
  padding:0 10vw;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 10vh;
}

.HeaderTitle {
  color: white;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 0;
}

.Container {
  height: 100vh;
  background: linear-gradient(to bottom, transparent,rgba(0,0,255,1) 70%),url(../image/TopPage.jpg);
  background-color: white;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  width: 80vw;
  background-position: 80%;
  margin: 0 auto;
  opacity: 0.8;
  padding-top: 180px;
}

.Top {
  font-size: 40px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 10px black;
  letter-spacing: 3px;
  margin-bottom: 90px;
}

.Title {
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 70px;
  width: 60vw;
  background-color: rgba(255, 255, 255, 0.3);
}

.Wrap {
  display: flex;
  width: 70vw;
  justify-content: space-evenly;
}

.Command {
  width: 30vw;
  height: 200px;
  border-radius: 10%;
  border: 2px solid white;
  padding: 20px;
}

.List {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  color: white;
  text-align: left;
  letter-spacing: 2px;
}
.List:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.List:before {
  content: '▶';
  opacity: 0;
}
.List:hover:before {
  content: '▶';
  opacity: 1;
}


.Button {
  border: white 2px solid;
  background-color: transparent;
  color: white;
  width: 30vw;
  height: 200px;
  border-radius: 10%;
  cursor: pointer;
  outline: none;
}
.Button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

